body {
  font-family: "jetbrains mono";
  color: #d59bf6;
  display: grid;
  justify-content: center;
  margin-top: 7%;
}
footer {
  display: block;
  position: static;
  padding: 25px;
  text-align: center;
}
input::placeholder {
  font-family: "jetbrains mono";
  color: #1e6262;
}

.container {
  justify-content: center;

  background-color: #8ef6e4;
  box-sizing: border-box;

  border: solid 5px #3a9b9b4f;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 10px 10px 10px #8988f1;
}
.current-temperature {
  color: #1e6262;
  background-color: #ffffff60;
  display: inline-block;
  border: solid 5px #3a9b9b98;
  font-size: 80px;
  padding: 0px 7px;
  text-shadow: 5px 5px 5px #41af9b;
  position: absolute;
  margin-top: -150px;
  border-radius: 7px;
  box-shadow: 10px 10px 10px #8988f1;
}
.header {
  color: #8988f1;
  padding: 0;
  margin: 0;
  text-shadow: 2px 3px 5px #ffffffd4;
}
.current-city {
  color: #8988f1;
  padding: 10px;
  text-shadow: 2px 3px 5px #ffffffd4;
  margin-top: 0;
}
#form-search-city {
  display: inline-block;
  border: solid 3px #3a9b9bd2;
  box-shadow: 5px 5px 5px #8988f1;
  padding: 5px;
  text-align: center;
  width: 400px;
  height: 28px;
  position: relative;
  border-radius: 5px;
}
.search-city-button {
  box-shadow: 5px 5px 5px #0ab190d4;
  color: white;
  border: solid 3px #ffffff;
  background-color: #8988f1;
  border-radius: 5px;
  font-family: "jetbrains mono";
  height: 28px;
  margin: 0 0 0;
  padding: 5px;
  width: 80px;
  height: 40px;
}

.search-city-button:hover {
  width: 81px;
  height: 41px;
  background-color: #1e6262;
  transition: all 300ms linear;
}

#date-and-time {
  font-size: 22px;
  color: #1e6262;
}

#weather-icon {
  display: flex;
  margin-left: 320px;
  margin-top: -70px;
  font-size: 180px;
  justify-content: space-around;
}

.hidden-elements {
  color: transparent;
}

#conditions {
  font-size: 22px;
  color: #1e6262;
}

.humidity {
  color: #d59bf6;
}

.wind-speed {
  color: #d59bf6;
}
#humidity {
  color: #d59bf6;
}

#wind-speed {
  color: #d59bf6;
}

#condition-description {
  color: #d59bf6;
}
